html,
body {
  background: #000000;

  font-family: Arial, Helvetica, sans-serif;

  margin: 0px;
  padding: 0px;
}

html {
  height: 100vh;
}

body {
  height: 5000px;
}

.animContainer {
  width: 960px;
  height: 540px;

  max-width: 100vw;
  max-height: 100vh;

  margin: 0 auto;

  position: fixed;
  left: 50%;

  transform: translate(-50%, 0);
}

.hed {
  text-align: center;
  color: #ffffff;

  width: 100%;

  margin: 0 auto;
  padding: 0;

  transform: translate(0, 20px);

  z-index: 5;
}

h1 {
  border: 5px solid black;

  font-size: 1.5em;
  line-height: 0.8em;
  text-transform: uppercase;

  margin: 0;
  padding: 0.2em;
}

p {
  font-size: 1em;

  margin: 0;
  padding: 0;
}

.controls {
  width: 100%;

  position: fixed;
  transform: translate(0, 480px);
}

.buttons,
.buttonsNG {
  font-size: 1.75em;
  text-align: center;
  color: #ffffff;

  margin: 0;
  padding: 10px 0;
}

button {
  font-size: 0.5em;

  height: 30px;

  margin: 0;
  padding: 0 5px;
}

.buttonsNG {
  border: 1px solid #ff00ff;
}

#sliderWrapper {
  margin: 0;
  padding: 0 0 20px 0;}

}

#slider {
width: 100%; }

.stats {
  font-family: monospace;
  color: #ffffff;

  width: 30%;
  height: 60px;

  margin: 0;
  padding: 0;

  position: relative;
  transform: translate(0, 400px);
  float: right;

  z-index: 5;
}

.stats         p {
  border: 1px solid #333333;

  font-size: 1em;

  width: 100%;
  height: 33.333%;

  margin: 0;
  padding: 0;

  position: absolute;
  right: 0;
}

.stats .scrollProgress {
  top: 33.3333%;
}

.stats .scrollPosition {
  top: 66.6666%;
}