<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body id="body">
  
  <section id="video-tiempo">
    <svg version="1.1" id="TEXT" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
      <style type="text/css">
        .st0 {
          fill: none;
          stroke: #FFFFFF;
          stroke-width: 5;
          stroke-miterlimit: 10;
        }
  
        .st1 {
          fill: #B51700;
        }
  
        .st2 {
          fill: #FCFCFC;
        }
  
        .st3 {
          font-family: 'Raleway-SemiBold';
        }
  
        .st4 {
          font-size: 56.5531px;
        }
  
        .st5 {
          opacity: 0.5;
        }
  
        .st6 {
          fill: none;
          stroke: #FFFFFF;
          stroke-width: 2;
          stroke-miterlimit: 10;
        }
  
        .st7 {
          fill: #8AC73C;
        }
  
        .st8 {
          fill: #FFFFFF;
        }
  
        .st9 {
          font-family: 'Montserrat-Medium';
        }
  
        .st10 {
          font-size: 29.5898px;
        }
  
        .st11 {
          font-size: 34.8476px;
        }
      </style>
      <g>
        <g>
          <g>
            <polyline class="st0" points="168.5,777.9 168.5,1041.1 429.5,1041.1 			" />
            <polyline class="st0" points="429.5,143.8 168.5,143.8 168.5,398.3 			" />
          </g>
          <g>
            <polyline class="st0" points="1751.5,777.9 1751.5,1041.1 1490.5,1041.1 			" />
            <polyline class="st0" points="1490.5,143.8 1751.5,143.8 1751.5,398.3 			" />
          </g>
        </g>
        <g>
          <circle class="st1" cx="216.1" cy="197.2" r="16.3" />
          <text transform="matrix(1 0 0 1 241.3359 215.9043)" class="st2 st3 st4">REC</text>
        </g>
        <g class="st5">
          <g>
            <g>
              <polyline class="st0" points="651.1,663.9 651.1,765.4 751.7,765.4 				" />
              <polyline class="st0" points="751.7,419.5 651.1,419.5 651.1,517.6 				" />
            </g>
            <g>
              <polyline class="st0" points="1261.5,663.9 1261.5,765.4 1160.8,765.4 				" />
              <polyline class="st0" points="1160.8,419.5 1261.5,419.5 1261.5,517.6 				" />
            </g>
          </g>
          <g>
            <line class="st0" x1="954.9" y1="567.4" x2="954.9" y2="613.5" />
            <line class="st0" x1="977.9" y1="590.4" x2="931.9" y2="590.4" />
          </g>
        </g>
        <g>
          <g>
            <path class="st6" d="M1640.2,218.5h-84.6c-4.3,0-7.8-3.5-7.8-7.8v-25.1c0-4.3,3.5-7.8,7.8-7.8h84.6c4.3,0,7.8,3.5,7.8,7.8v25.1
            C1648,215,1644.5,218.5,1640.2,218.5z" />
            <path class="st6" d="M1640.2,218.5h-84.6c-4.3,0-7.8-3.5-7.8-7.8v-25.1c0-4.3,3.5-7.8,7.8-7.8h84.6c4.3,0,7.8,3.5,7.8,7.8v25.1
            C1648,215,1644.5,218.5,1640.2,218.5z" />
            <path class="st6" d="M1546.5,210.1h-3.6c-3.1,0-5.7-2.5-5.7-5.7v-12.5c0-3.1,2.5-5.7,5.7-5.7h3.6" />
            <g>
              <polygon class="st7" points="1592.1,181.2 1606.2,215 1627.7,215 1613.6,181.2 				" />
              <path class="st7"
                d="M1556.9,181.2c-3.4,0-6.2,2.8-6.2,6.2v21.4c0,3.4,2.8,6.2,6.2,6.2h21.7l-14.1-33.8H1556.9z" />
              <polygon class="st7" points="1567.5,181.2 1581.6,215 1603.2,215 1589.1,181.2 				" />
              <path class="st7"
                d="M1639.1,181.2h-22.4l14.1,33.8h8.3c3.4,0,6.2-2.8,6.2-6.2v-21.4C1645.3,184,1642.5,181.2,1639.1,181.2z" />
              <polygon class="st8" points="1564.5,181.2 1578.6,215 1581.6,215 1567.5,181.2 				" />
              <polygon class="st8" points="1589.1,181.2 1603.2,215 1606.2,215 1592.1,181.2 				" />
              <polygon class="st8" points="1613.6,181.2 1627.7,215 1630.7,215 1616.6,181.2 				" />
            </g>
          </g>
          <text transform="matrix(1 0 0 1 1663.5439 206.9136)" class="st8 st9 st10">99%</text>
        </g>
        <g>
          <g>
            <path class="st8" d="M1271.9,188.5h-3.5v18.1h2.9c6,0,9-3,9-9.1C1280.2,191.5,1277.5,188.5,1271.9,188.5z" />
            <path class="st8" d="M1226,174.5v47.3h69.5v-47.3H1226z M1257.7,210h-4.1v-11.2h-11.5V210h-4.1v-24.9h4.1v10.2h11.5v-10.2h4.1
            V210z M1281.1,206.8c-2.3,2.2-5.6,3.3-9.9,3.3h-7v-24.9h7.7c4,0,7,1.1,9.2,3.2c2.2,2.1,3.3,5.1,3.3,9
            C1284.5,201.4,1283.4,204.6,1281.1,206.8z" />
          </g>
          <rect x="1313.6" y="174.5" class="st6" width="69.5" height="47.3" />
          <text transform="matrix(1 0 0 1 1325.2314 210.0142)" class="st8 st9 st11">4K</text>
        </g>
        <text transform="matrix(1 0 0 1 1398.6514 208.1592)" class="st8 st9 st11">25FPS</text>
      </g>
    </svg>
    <canvas id="image-sequence-3" width="1900" height="1000" role="slider"></canvas>
    <section id="text-container">
      <p class="text">DENTRO DE NUESTRO</p>
      <p class="text">UNIVERSO CREATIVO,</p>
      <p class="text">EL COMPROMISO ES</p>
      <p class="text" id="letter-ctn">
        <span class="letter">C</span>
        <span class="letter">O</span>
        <span class="letter">N</span>
        <span class="spacer">_</span>
        <span class="letter">T</span>
        <span class="letter">U</span>
        <span class="spacer">_</span>
        <span class="letter">T</span>
        <span class="letter">I</span>
        <span class="letter">E</span>
        <span class="letter">M</span>
        <span class="letter">P</span>
        <span class="letter">O</span>
      </p>
    </section>
  </section>
  <script type="module" src="index.js"></script>
</body>

</html>