@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/Montserrat-black/Montserrat-Black.eot');
  /* IE9 Compat Modes */
  src: url('../../assets/Montserrat-black/Montserrat-Black.eot') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../../assets/Montserrat-black/Montserrat-Black.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../assets/Montserrat-black/Montserrat-Black.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../../assets/Montserrat-black/Montserrat-Black.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../../assets/Montserrat-black/Montserrat-Black.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  cursor: none;
    
  a {
    color: inherit;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  display: flex; // To center the carousel vertically in the viewport
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

// Carousel configuration parameters
$n: 7; // Number of images
$item-width: 400px; // Width of an image. In the Js version this value can be a percentage
$item-height: 250px;
$item-separation: 200px; // The space between the images. This will decrease the effective item width
$viewer-distance: 2500px;

// Derived variables
$theta: calc(2 * 3.141592653589793 / $n);
$apothem: 400px; // == $item-width / (2 * tan(PI / $n))

nav {
  display: flex;
  flex-direction: column;
  align-items: end;

  section#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10rem;
    background: rgba(203, 219, 67, 1);
    display: block;
    z-index: 1000;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      height: 10%;

      hr {
        border: 1px solid rgba(29, 62, 78, 1);
        margin: 0 5rem;
        width: 90%;
      }

      li {
        margin: 0 5rem;
        font-size: calc(1rem + 1vw);
        padding-bottom: 0.5rem;

        a {
          font-size: calc(2.5rem + 2vw);
          text-align: center;
          color: transparent;
          -webkit-text-stroke: 3px rgba(29, 62, 78, 1);
          transition: color 0.5s ease;

          &:hover {
            color: rgba(29, 62, 78, 1);
          }
        }
      }
    }
  }

  button {
    background-color: inherit;
    border: none;
    padding: 1rem;
    z-index: 1001;
    
    svg {
      color: rgba(29, 62, 78, 1);
      height: 3rem;
    }
  }
}
 

.carousel {
  padding: 20px;
  margin: 15rem;
  perspective: $viewer-distance;
  perspective-origin: 50% -160%;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: -1000px;

  >* {
    flex: 0 0 auto;
  }

  figure {
    margin: 0;
    height: $item-height;
    width: $item-width;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% (-$apothem);
    animation: rotateAnim 30s infinite forwards;
    
    video {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 0 calc($item-separation / 2);


      opacity: 0.9; // Just to better illustrate the placement of the carousel sides

      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 50% 50% (-$apothem);
      }

      @for $i from 2 through $n {
        &:nth-child(#{$i}) {
          transform: rotateY(#{($i - 1) * $theta}rad);
        }
      }
    }
  }
}
 
.circle {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  position: fixed; 
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

@keyframes rotateAnim {

  0% {
    transform: rotateY(0deg);
  }

  7.1% {
    transform: rotateY(-51.42857142857143deg);
  }

  14.2% {
    transform: rotateY(-51.42857142857143deg);
  }

  21.3% {
    transform: rotateY(-102.8571428571429deg);
  }

  28.4% {
    transform: rotateY(-102.8571428571429deg);
  }

  35.5% {
    transform: rotateY(-102.8571428571429deg);
  }

  42.6% {
    transform: rotateY(-154.2857142857143deg);
  }

  49.7% {
    transform: rotateY(-154.2857142857143deg);
  }

  56.8% {
    transform: rotateY(-205.7142857142857deg);
  }

  63.9% {
    transform: rotateY(-205.7142857142857deg);
  }

  71% {
    transform: rotateY(-257.1428571428571deg);
  }

  78.1% {
    transform: rotateY(-257.1428571428571deg);
  }

  85.2% {
    transform: rotateY(-308.5714285714286deg);
  }

  92.3% {
    transform: rotateY(-308.5714285714286deg);
  }
  98.7% {
    transform: rotateY(-308.5714285714286deg);
  }
  100% {
    transform: rotateY(-359.99deg);
  }
}