<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="carousel.css" />
  <title>Document</title>
</head>

<body id="body" class="close">

  <section role="navigation" id="cursor">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </section>

  <nav>
    <button id="collapse" class="close">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <circle class="st0" cx="256" cy="115.4" r="23.4" />
            <circle class="st0" cx="256" cy="396.6" r="23.4" />
            <circle class="st0" cx="256" cy="256" r="23.4" />
          </g>
          <path class="st0"
            d="M256,512C114.8,512,0,397.2,0,256S114.8,0,256,0s256,114.8,256,256S397.2,512,256,512z M256,490.7 c129.4,0,234.7-105.3,234.7-234.7S385.4,21.3,256,21.3S21.3,126.6,21.3,256S126.6,490.7,256,490.7z" />
        </g>
      </svg>
    </button>
    <section role="navigation" id="menu">
      <ul>
        <li class="nav-item">
          <a href="#section-1">Section 1</a>
        </li>
        <hr class="separator">
        <li class="nav-item">
          <a href="#section-2">Section 2</a>
        </li>
        <hr class="separator">
        <li class="nav-item">
          <a href="#section-3">Section 3</a>
        </li>
        <hr class="separator">
        <li class="nav-item">
          <a href="#section-4">Section 4</a>
        </li>
        <hr class="separator">
      </ul>
    </section>
  </nav>

    <section class="contact">
      <div class="carousel">
        <figure>
          <div class="card-ctn">
            <img src="../../assets/logo-flexy.png" alt="">
            <video autoplay muted loop>
              <source src="../../assets/pexels-bg-compress.mp4" type="video/mp4">
            </video>
          </div>
          <div class="card-ctn">
            <img src="../../assets/logo-delsud.png" alt="">
            <video autoplay muted loop>
              <source src="../../assets/pexels-bg-compress.mp4" type="video/mp4">
            </video>
          </div>
          <div class="card-ctn">
            <img src="../../assets/logo-estudio-yacoub.png" alt="">
            <video autoplay muted loop>
              <source src="../../assets/pexels-bg-compress.mp4" type="video/mp4">
            </video>
          </div>
          <div class="card-ctn">
            <img src="../../assets/logo-jr-nba.png" alt="">
            <video autoplay muted loop>
              <source src="../../assets/pexels-bg-compress.mp4" type="video/mp4">
            </video>
          </div>
          <div class="card-ctn">
            <img src="../../assets/logo-eugenie.png" alt="">
            <video autoplay muted loop>
              <source src="../../assets/pexels-bg-compress.mp4" type="video/mp4">
            </video>
          </div>
          <div class="card-ctn">
            <img src="../../assets/logo-juegos-bonaerenses.png" alt="">
            <video autoplay muted loop>
              <source src="../../assets/pexels-bg-compress.mp4" type="video/mp4">
            </video>
          </div>
          <div class="card-ctn">
            <img src="../../assets/logo-la-caja.png" alt="">
            <video autoplay muted loop>
              <source src="../../assets/pexels-bg-compress.mp4" type="video/mp4">
            </video>
          </div>
        </figure>
      </div>
    </section>
    <script src="carousel.js" type="module"></script>
  </body>
</html>
