<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>
  <section id="video-flip">
    <canvas id="image-sequence" width="1900" height="1000" role="slider"></canvas>
    <section id="text-container">
      <hr class="white">
      <p class="text">Y ENCONTRARNOS JUNTOS</p>
      <p class="text" id="letter-ctn">
        <span class="letter">E</span>
        <span class="letter">S</span>
        <span class="spacer">0</span>
        <span class="letter">L</span>
        <span class="letter">A</span>
        <span class="spacer">0</span>
        <span class="letter">M</span>
        <span class="letter">E</span>
        <span class="letter">J</span>
        <span class="letter">O</span>
        <span class="letter">R</span>
        <span class="spacer">0s</span>
        <span class="letter">F</span>
        <span class="letter">O</span>
        <span class="letter">R</span>
        <span class="letter">M</span>
        <span class="letter">A</span>
      </p>
      <p class="text">DE CONTARLA</p>
      <hr class="white">
    </section>
    <section class="accordion">
      <div id='parent'>
        <div class='child'>
          <div class="title-ctn">
            <h1>01.</h1>
            <h2>Producción</h2>
          </div>
          <div class="text-ctn">
            <ol>
              <li>Videos Comerciales y Spots Publicitarios</li>
              <li>Videos Musicales</li>
              <li>Edición de Video y Postproducción</li>
              <li>Servicios de Dirección de Arte</li>
              <li>Subtitulación y Localización</li>
              <li>Realización de Eventos y Fotografía</li>
              <li>Cobertura de Eventos y Fotografía</li>
              <li>Producción de Webinars</li>
            </ol>
          </div>
        </div>
        <div class='child'>
          <div class="title-ctn">
            <h1>02.</h1>
            <h2>Video</h2>
          </div>
          <div class="text-ctn">
            <ol>
              <li>Videos Institucionales y Corporativos</li>
              <li>Videos de Contenido</li>
              <li>Videos Promocionales para Lanzamientos</li>
              <li>Videos Testimoniales</li>
              <li>Videos Animados y Motion Graphics (Infografías)</li>
              <li>Videos para Redes Sociales</li>
              <li>Videos de Eventos en Vivo</li>
            </ol>
            <ol>
              <li>Videos de Capacitación</li>
              <li>Videos de Turismo</li>
              <li>Videos de Entrevistas</li>
              <li>Video 360°</li>
              <li>Videos de Salud y Bienestar</li>
              <li>Videos de Ciencia y Tecnología</li>
              <li>Realidad Virtual (VR) y Realidad Aumentada (AR)</li>
            </ol>
          </div>
        </div>
        <div class='child'>
          <div class="title-ctn">
            <h1>03.</h1>
            <h2>Fotografía</h2>
          </div>
          <div class="text-ctn">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Alias non magnam, reprehenderit ex sapiente consequuntur
              sequi voluptas vitae totam, qui tenetur blanditiis distinctio
              nam laudantium temporibus iste? Aliquam, a odit.
            </p>
          </div>
        </div>
      </div>
    </section>
    <video class="bg-video" autoplay muted loop>
      <source src="../../assets/pexels-bg-compress.mp4" type="video/mp4">
    </video>
  </section>
  <script src="index.js" type="module"></script>
</body>

</html>