* {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #342c2c, #2b2527, #221f20, #191819, #111111);
}

body {
  min-height: 100vh;
  user-select: none;
  overflow: hidden;
}

bubbles {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  background: #D1D821;
  box-shadow: 10px 10px 30px #D1D821,
    -10px -10px 30px #D1D821;
  animation: colorgen;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

bubbles:before {
  box-shadow: 0px 0px 100px 10px #b5d334;
}

bubbles:after {
  box-shadow: inset 0px 0px 100px 10px #b5d334;
}

@keyframes colorgen {
  0% {
    opacity: 1;
    filter: blur(0px);
  }

  25% {
    opacity: 0.75;
    filter: blur(10px);
  }

  50% {
    opacity: 0.5;
    filter: blur(15px);
  }

  75% {
    opacity: 0.25;
    filter: blur(20px);
  }

  100% {
    opacity: 0;
    filter: blur(30px);
  }
}