@font-face {
  font-family: "Montserraty";
  src: url("assets/Montserrat-black/Montserrat-Black.eot");
  /* IE9 Compat Modes */
  src: url("assets/Montserrat-black/Montserrat-Black.eot") format("embedded-opentype"),
    url("assets/Montserrat-black/Montserrat-Black.woff2") format("woff2"),
    url("assets/Montserrat-black/Montserrat-Black.woff") format("woff"),
    url("assets/Montserrat-black/Montserrat-Black.ttf") format("truetype"),
    url("assets/Montserrat-black/Montserrat-Black.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
}

:root {
  font-size: 20px;
  font-family: "Montserraty", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-snap-type: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  cursor: none;
}

.alert {
  border-radius: 15px;
  font-family: 'Montserrat';
  padding: 1rem;
  background-color: #D9D9D9;
  color: #000;
}

.alert .swal2-confirm {
  border-radius: 15px;
  font-family: 'Montserrat';
}

.alert .swal2-html-container {
  margin: 1rem;
}

main {
  position: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: "Montserraty";
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

.hand-cursor {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("assets/cursor-mano.svg");
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

bubbles {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  background: #d1d821;
  box-shadow: 10px 10px 30px #d1d821, -10px -10px 30px #d1d821;
  animation: colorgen;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  z-index: 999999999999999999999999;
}

bubbles:before {
  box-shadow: 0px 0px 100px 10px #b5d334;
}

bubbles:after {
  box-shadow: inset 0px 0px 100px 10px #b5d334;
}

@keyframes colorgen {
  from {
    opacity: 1;
    filter: blur(10px);
    scale: 1;
  }

  to {
    opacity: 0;
    filter: blur(50px);
    scale: 0;
  }
}

#progressbar-ctn {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 25%;
  margin: auto;
  opacity: 0;
  margin: 0 auto;
  z-index: 10;
  width: 50%;
  height: 150px;
  margin: auto;
}

#progressbar-ctn svg {
  margin: auto;
  width: 30%;
  overflow: visible;
}

article,
img,
p,
h2,
span,
button,
a {
  user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============= INTRO ============= */

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100px;
  z-index: 10;
}

nav .social-ctn {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  width: fit-content;
  padding: 1rem 0;
  z-index: 10;
}

nav .menu-btn-ctn {
  width: fit-content;
  height: fit-content;
  padding: 1rem 0;
  margin-right: 20px;
  z-index: 10;
}

nav .social-ctn a,
nav .menu-btn-ctn button {
  margin: 0 0.5rem;
  cursor: url("assets/cursor-mano.svg"), pointer;
}

nav .menu-btn-ctn button {
  width: 3rem;
  transition: all 0.2s ease-in-out;
}

nav .social-ctn a {
  width: 2rem;
}

nav .social-ctn a img,
button#collapse img {
  width: 100%;
}

nav section#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  background: rgb(203, 219, 67);
  opacity: 0;
}

nav section#menu div.social-ctn-2 {
  display: none;
}

nav section#menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 10%;
}

nav section#menu ul hr {
  border: 1px solid rgb(29, 62, 78);
  margin: 0 5rem;
  width: 90%;
}

nav section#menu ul li {
  margin: 0 5rem;
  font-size: calc(1rem + 1vw);
  padding-bottom: 0.5rem;
}

nav section#menu ul li a {
  font-size: calc(2.5rem + 2vw);
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 3px rgb(29, 62, 78);
  transition: color 0.5s ease-out;
  cursor: none;
}

nav section#menu ul li a:hover {
  color: rgb(29, 62, 78);
  -webkit-text-stroke: 1px rgb(29, 62, 78);
  transition: color 0.5s ease-out;
}

nav button {
  /* position: fixed; */
  right: 0;
  background-color: inherit;
  border: none;
  /* padding: 1rem; */
  z-index: 7000;
  cursor: pointer;
}

nav button svg {
  color: rgb(29, 62, 78);
  height: 3rem;
}

body #intro {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#intro #init {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("assets/Layer_1.png");
  background-color: #000;
  background-size: 300px;
  background-repeat: space;
  z-index: 100;
}

#intro #scrollea {
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#intro #init svg {
  width: 30vw;
  height: 30vh;
  fill-opacity: 0;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 1500px;
  stroke-dashoffset: 1500px;
  mix-blend-mode: lighten;
  animation-name: draw;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: auto;
}

#intro #scrollea img {
  display: none;
}

#intro #scrollea svg {
  width: 15vw;
  height: 15vh;
  margin: auto;
}

#intro #scrollea svg .st0 {
  stroke: none;
}

#intro #scrollea svg path.st1 {
  fill: white;
  animation: scroll 0.8s infinite;
}

#intro #scrollea svg .st0 {
  fill: white;
}

#intro #video {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100vw;
  height: 100vh;
}

#intro #video #video-camara {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/camara-frames/introframes%20\(1\).webp");
  background-position: center;
  background-size: cover;
}

#intro #video #video-camara img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro #video #texto {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  width: 100%;
}

#intro #video #texto p {
  font-size: calc(5rem + 10%);
  margin-right: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
  font-family: "Montserraty", sans-serif;
}

#intro #video #texto .spanIntroCtn {
  display: flex;
}

#intro #video #texto .spanIntroCtn p {
  font-size: calc(5rem + 10%);
  margin-right: 1rem;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
  font-family: "Montserraty", sans-serif;
}

#intro #video #texto .spanIntroCtn span {
  font-size: 5rem;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
  font-family: "Montserraty", sans-serif;
}

/* ============== END INTRO ============= */

/* ============== PORTFOLIO ============= */

section.portfolio {
  position: fixed;
  width: 100vw;
  background-color: hsl(0, 0%, 0%);
  opacity: 0;
  z-index: 2;
}

section.portfolio .bg-rodaje,
section.portfolio .sup-rodaje {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}

section.portfolio .sup-rodaje {
  z-index: 2;
}

section.portfolio .sup-rodaje.zoomed {
  z-index: 4;
  opacity: 0;
}

section.portfolio h2,
section.portfolio span {
  font-family: "Montserraty", sans-serif;
}

section.portfolio p,
section.portfolio bold {
  font-family: "Montserrat", sans-serif;
}

section.portfolio h2,
section.portfolio bold,
section.portfolio span {
  text-transform: uppercase;
}

section.portfolio h2 {
  position: relative;
  width: fit-content;
  height: auto;
  font-weight: 1000;
  font-size: 3.8rem;
  line-height: 4.2rem;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

section.portfolio .pf-accordion h2 {
  cursor: url("assets/cursor-mano.svg") 12 12, pointer;
}

section.portfolio p,
section.portfolio bold {
  font-size: 18px;
  white-space: nowrap;
  color: #fff;
}

section.portfolio p {
  font-weight: 400;
}

section.portfolio bold {
  font-weight: 700;
}

section.portfolio .txt-ctn-1,
section.portfolio .txt-ctn-2 {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  z-index: 5;
}

section.portfolio .txt-ctn-2 {
  z-index: 20;
}

section.portfolio .txt-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

section.portfolio .dup-ctn {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 3;
}

section.portfolio .dup-ctn .spaced-txt {
  display: flex;
}

section.portfolio .txt-row h2 {
  position: relative;
  text-align: center;
  z-index: 0;
  opacity: 0;
}

section.portfolio .pf-accordion-outer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  opacity: 0;
  z-index: 0;
}

section.portfolio ol {
  width: 50%;
  position: relative;
  padding-left: 25px;
  z-index: 20;
}

section.portfolio ol fieldset {
  border: none;
}

section.portfolio ol li {
  padding-top: 50px;
}

section.portfolio ol li h2 {
  z-index: 20;
  transform: translateY(30px);
  opacity: 0;
}

section.portfolio .desc-ctn {
  width: 100%;
  display: flex;
  opacity: 0;
  transform: translateY(-100px);
  margin: 0;
}

section.portfolio ol li hr.ctn-line {
  margin: -12px 0;
  height: 3px;
  background-color: #fff;
}

section.portfolio .desc-ctn hr.desc-line {
  margin: 0 5px;
}

section.portfolio .bg-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #000;
  opacity: 0;
  z-index: 5;
}

section.portfolio .dup-ctn span {
  display: inline-block;
  position: relative;
  font-weight: 1000;
  font-size: 3.8rem;
  color: transparent;
  z-index: 0 !important;
  opacity: 0;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

section.portfolio .dup-ctn span.spacer {
  font-size: 3rem;
  visibility: hidden;
}

section.portfolio div.video-ctn {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

section.portfolio .box-ctn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 29%;
  background-color: transparent;
  transform: skew(3.5deg, 7deg) translate(-5px, 40px);
}

section.portfolio .vid-overlay {
  position: absolute;
  width: 101%;
  height: 101%;
  top: -1px;
  left: -1px;
  background-color: transparent;
  z-index: 6;
  opacity: 1;
}

section.portfolio .box-ctn .preview-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
}

section.portfolio .logo-box {
  position: relative;
  width: 100px;
  height: 100px;
  fill: rgb(203, 219, 67);
  opacity: 0.4;
  z-index: 7;
}

.modal-container {
  position: absolute;
  top: 0;
  left: auto;
}

.modal {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal .close {
  position: absolute;
  z-index: 50000;
  top: 8%;
  right: 11.5%;
  width: 60px;
  cursor: pointer;
  filter: invert(1);
  cursor: url("assets/cursor-mano.svg"), pointer;
}

.modal .close .st0 {
  fill: #fff;
}

#modalVideo {
  width: 80%;
  position: relative;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
  overflow: visible;
}

.shown {
  display: block;
  overflow: hidden;
}

/* ======================== End PORTFOLIO =========================*/

/* ======================== MIDDLE SECTION =========================*/

#middle {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transform-style: preserve-3d;
  transform-origin: center top;
  transform: perspective(1000px) rotateX(0);
  transition: transform 0.5s;
  z-index: 3;
}

#middle #middleVidCtn {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  object-fit: cover;
}

#middle #middleVidCtn img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

#middle #text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

#middle #text-container hr {
  width: 100%;
  margin: 4.07%;
  z-index: -100;
}

#middle #text-container p {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

#middle #text-container #letter-ctn {
  display: flex;
  font-size: 0;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

#middle #text-container #letter-ctn .spacer {
  font-size: 2rem;
  visibility: hidden;
}

#middle #text-container #letter-ctn span {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

#middle h1,
#middle h2 {
  font-family: "Montserraty", sans-serif;
}

#middle h1 {
  margin-top: -70px;
  font-size: 6.8rem;
  color: transparent;
  /* color:rgb(203, 219, 67); */
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

#middle h2 {
  font-size: 1.9rem;
  color: rgb(203, 219, 67);
  text-transform: uppercase;
}

#middle .accordion {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, -15%, 250px);
  transform-style: preserve-3d;
  perspective: 1000;
  position: fixed;
  top: 0;
  z-index: 20;
  scale: 0.75;
}

#middle .accordion .expand {
  display: none;
}

#middle #parent {
  position: relative;
  display: flex;
  white-space: nowrap;
  width: 100vw;
  height: 450px;
  margin: auto 0;
  padding: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  z-index: 50;
}

.acc-borders {
  position: absolute;
  width: 140vw;
  height: 450px;
  right: -50%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  z-index: -4;
}

.child {
  position: relative;
  display: flex;
  align-items: center;
  width: 33.3%;
  height: 100%;
  font-family: arial;
  text-align: center;
  overflow: hidden;
  padding: 50px 0 50px 80px;
  text-align: left;
}

.child:nth-child(2) {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.title-ctn,
.text-ctn {
  width: 100%;
  pointer-events: none;
}

.title-ctn {
  transition: 0.8s ease left;
  left: 50%;
}

.title-ctn h1 {
  color: rgb(203, 219, 67);
}

.text-ctn {
  position: absolute;
  left: 0;
}

.child:nth-child(1) .text-ctn {
  margin: 0 0 0 420px;
}

.child:nth-child(2) .text-ctn {
  margin: 0 0 0 360px;
}

.child:nth-child(3) .text-ctn {
  margin: 0 0 0 420px;
}

.text-ctn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 350px;
  top: 0;
}

.text-ctn p,
.text-ctn ol li {
  font-family: "Montserrat", sans-serif;
  width: 300px;
  font-weight: 500;
  text-wrap: wrap;
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  color: #fff;
  line-height: 1.4rem;
}

.text-ctn p,
.text-ctn ol {
  display: inline-block;
  width: object-fit;
  transition: 0.8s ease clip-path;
  clip-path: inset(0 100% 0 0);
}

.child:nth-child(1) .text-ctn ol {
  clip-path: inset(0 0% 0 0);
}

.child:hover .text-ctn p,
.child:hover .text-ctn ol {
  clip-path: inset(0 0 0 0%);
}

.child:hover .title-ctn {
  left: 0;
}

.child:nth-child(2) ol:nth-child(1) {
  clip-path: inset(0 0 0 100%);
}

.child:nth-child(2):hover ol:nth-child(1) {
  clip-path: inset(0 0 0 0);
}

.bg-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  object-fit: cover;
  z-index: -1;
  /* filter: hue-rotate(145deg);
  opacity: 0; */
  transform-style: preserve-3d;
  transform: rotateX(0deg);
}

/* ======================== End middle =========================*/

/* ======================== TIEMPO SECTION =========================*/

#tiempoCtn {
  width: 100vw;
  height: 300vh;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: perspective(1000px) rotateX(0);
  transition: transform 0.5s;
}

#middle #video-tiempo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  opacity: 0;
}

#middle #video-tiempo #tiempoVidCtn {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  object-fit: cover;
}

#middle #video-tiempo #tiempoVidCtn img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

#middle #video-tiempo #count-ctn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
}

#middle #video-tiempo #countdown-timer {
  display: flex;
  justify-content: center;
}

#middle #video-tiempo svg {
  position: fixed;
  transform: translate(0, -5%);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#middle #video-tiempo #elementos-mob {
  display: none;
}

#video-tiempo #text-container-2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#video-tiempo #text-container-2 hr {
  width: 150%;
  margin: 5%;
  z-index: -100;
}

#video-tiempo #text-container-2 p {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

#video-tiempo #text-container-2 #letter-ctn {
  display: flex;
  font-size: 0;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

#video-tiempo #text-container-2 #letter-ctn .spacer {
  font-size: 2rem;
  visibility: hidden;
}

#video-tiempo #text-container-2 #letter-ctn span {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

/* ======================== End Tiempo Section =========================*/

/* ======================== Keyframes =========================*/

@keyframes draw {
  0% {
    stroke-dashoffset: 1500px;
  }

  25% {
    stroke-dashoffset: 0;
  }

  50% {
    fill-opacity: 0;
  }

  75% {
    fill-opacity: 1;
    fill: white;
  }

  100% {
    fill-opacity: 1;
    fill: #d1d821;
    stroke: #d1d821;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  80% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

@keyframes scroll2 {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  80% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes flipCard {
  0% {
    transform: perspective(500px) rotateX(90deg);
  }

  ¡ 100% {
    transform: perspective(500px) rotateX(0deg);
  }
}


/* seccion final */

#txt-container-2 {
  display: flex;
  z-index: 500;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#txt-container-2 p {
  transform: translateX(200%);
  width: fit-content;
  font-family: "Montserraty", sans-serif;
  font-weight: 1000;
  font-size: 3.8rem;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
  text-transform: uppercase;
}

#carousel-container {
  position: absolute;
  text-align: center;
  top: 18%;
  transform: scale(0);
}

#mobileBrandsCtn {
  display: none;
}

.carousel {
  position: relative;
  perspective: 2500px;
  perspective-origin: 50% -50%;
  transform: scale(80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -1000px;
}

.carousel>* {
  flex: 0 0 auto;
}

.carousel figure {
  margin: 0;
  height: 300px;
  width: 180px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: 50% 50% -400px;
  animation: rotateAnim 30s infinite forwards;
}

.carousel figure .card-ctn {
  user-select: none;
  pointer-events: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  opacity: 0.9;
  border-radius: 6%;
  overflow: hidden;
  transform: translateZ(200px) matrix3d(1, 0, 0, 0, 0, 1, -0.03, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  background-color: #000;
}

.carousel figure .card-ctn:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 50% 50% -400px;
}

.carousel figure .card-ctn:nth-child(2) {
  transform: rotateY(0.897597901rad) translateZ(200px) matrix3d(1, 0, 0, 0, 0, 1, -0.03, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.carousel figure .card-ctn:nth-child(3) {
  transform: rotateY(1.7951958021rad) translateZ(200px) matrix3d(1, 0, 0, 0, 0, 1, -0.03, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.carousel figure .card-ctn:nth-child(4) {
  transform: rotateY(2.6927937031rad) translateZ(200px) matrix3d(1, 0, 0, 0, 0, 1, -0.03, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.carousel figure .card-ctn:nth-child(5) {
  transform: rotateY(3.5903916041rad) translateZ(200px) matrix3d(1, 0, 0, 0, 0, 1, -0.03, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.carousel figure .card-ctn:nth-child(6) {
  transform: rotateY(4.4879895051rad) translateZ(200px) matrix3d(1, 0, 0, 0, 0, 1, -0.03, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.carousel figure .card-ctn:nth-child(7) {
  transform: rotateY(5.3855874062rad) translateZ(200px) matrix3d(1, 0, 0, 0, 0, 1, -0.03, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.carousel figure .card-ctn img {
  position: relative;
  width: 150px;
  height: 100%;
  object-fit: scale-down;
  z-index: 1;
}

.carousel figure .card-ctn video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

@keyframes rotateAnim {
  0% {
    transform: rotateY(0deg);
  }

  7.1% {
    transform: rotateY(-51.4285714286deg);
  }

  14.2% {
    transform: rotateY(-51.4285714286deg);
  }

  21.3% {
    transform: rotateY(-102.8571428571deg);
  }

  28.4% {
    transform: rotateY(-102.8571428571deg);
  }

  35.5% {
    transform: rotateY(-102.8571428571deg);
  }

  42.6% {
    transform: rotateY(-154.2857142857deg);
  }

  49.7% {
    transform: rotateY(-154.2857142857deg);
  }

  56.8% {
    transform: rotateY(-205.7142857143deg);
  }

  63.9% {
    transform: rotateY(-205.7142857143deg);
  }

  71% {
    transform: rotateY(-257.1428571429deg);
  }

  78.1% {
    transform: rotateY(-257.1428571429deg);
  }

  85.2% {
    transform: rotateY(-308.5714285714deg);
  }

  92.3% {
    transform: rotateY(-308.5714285714deg);
  }

  98.7% {
    transform: rotateY(-308.5714285714deg);
  }

  100% {
    transform: rotateY(-359.99deg);
  }
}

/* SECCION OUTRO */

#txt-container-2 {
  position: fixed;
  width: 100vw;
}

.flipLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
}

#svgOutro {
  position: absolute;
  fill: rgb(203, 219, 67);
}

div#textAllCtn {
  width: 100vw;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 110px;
  position: absolute;
  /* visibility: hidden; */
  transform-style: preserve-3d;
  z-index: 5;
}

div#textAllCtn p.textPostC {
  text-align: center;
  width: fit-content;
  font-family: "Montserraty", sans-serif;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

div#textAllCtn .letter-container {
  display: flex;
  font-size: 0;
  margin: 0;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

div#textAllCtn .letter-container .charSpan {
  font-size: 110px;
  margin: 0;
  padding: 0;
  color: transparent;
  -webkit-text-stroke: 2px rgb(203, 219, 67);
}

div#textAllCtn .letter-container .spacerSpan {
  font-size: 2rem;
  visibility: hidden;
}

.subTextContainer {
  position: relative;
  visibility: hidden;
  display: flex;
  top: 18.5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50%;
  z-index: 5;
}

#p2_postC {
  color: rgb(203, 219, 67);
  font-size: 1.8rem;
  margin: 7rem;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-height: 100px;
}

.socialContainer .svgSocial {
  width: 100px;
  height: 100px;
}

.socialContainer a.svgInner {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: url('assets/cursor-mano.svg'), pointer;
}

.socialContainer #svgLinkedIn a {
  background-image: url("assets/logos_end/Linkedin.webp");
}

.socialContainer #svgMail a {
  background-image: url("assets/logos_end/mail.webp");
}

.socialContainer #svgInstagram a {
  background-image: url("assets/logos_end/ig.webp");
}

.socialContainer #svgWhatsapp a {
  background-image: url("assets/logos_end/wsp.webp");
}

.textEndCtn {
  display: flex;
  font-size: 0;
  margin: 0;
  margin-top: 5rem;
  text-align: center;
  color: transparent;
}

.textEndCtn .charSpan2 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: transparent;
  opacity: 0;
}

.textEndCtn .spacerSpan2 {
  font-size: 0.5rem;
  visibility: hidden;
}

#middle #subir {
  display: none;
}

/* =================== media queries =================== */

/* * MOBILE */

@media only screen and (max-width: 500px) {

  #intro #init {
    background-size: 100px;
    background-repeat: space;
  }

  #intro #scrollea {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #intro #scrollea svg {
    width: 30vw;
    margin: 0;
  }

  #intro #scrollea img {
    width: 40vw;
    display: block;
  }

  #progressbar-ctn {
    width: 100%;
    left: 0;
    height: 110px;
  }

  #progressbar-ctn svg {
    width: 45%;
  }

  /* ============= nav ============ */

  nav {
    position: fixed;
    top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 125px;
    z-index: 10;
  }

  nav .menu-btn-ctn button {
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 10px;
  }

  nav .menu-btn-ctn button img {
    width: 100%;
    height: 100%;
  }

  nav .social-ctn {
    display: none;
  }

  nav section#menu {
    padding: 0;
  }

  nav section#menu .social-ctn-2 {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin: 2rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  nav section#menu .social-ctn-2 a:hover {
    color: transparent;
  }

  nav section#menu .social-ctn-2 a img {
    width: 2.5rem;
  }

  nav section#menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 10%;
    margin-top: 12rem;
  }

  nav section#menu ul li a {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgb(29, 62, 78);
  }

  nav section#menu ul hr {
    width: 30%;
  }

  nav section#menu ul #logo-menu {
    position: fixed;
    top: 35px;
    left: 0;
    margin: 1rem 1.5rem;
  }

  /* ============= intro ============ */

  body #intro #video #video-camara img {
    object-fit: contain;
    transform: rotate(-90deg);
    width: 100vh;
    height: 100%;
  }

  body #intro #video #video-camara {
    background-image: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  body #intro #video #texto p:nth-child(1) {
    width: 245px;
    text-align: center;
  }

  body #intro #video #texto p:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  body #intro #video #texto .spanIntroCtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  body #intro #video #texto .spanIntroCtn p {
    font-size: 2.2rem;
    margin-right: 5px;
    display: inline-block;
  }

  body #intro #video #texto .spanIntroCtn .spanCtn {
    display: flex;
    justify-content: center;
  }

  body #intro #video #texto .spanIntroCtn span {
    font-size: 2.2rem;
    color: #d1d821;
  }

  /* ============= portfolio ============ */

  section.portfolio {
    background-color: #010206;
  }

  section.portfolio .txt-row {
    justify-content: center;
    height: 520px;
  }

  section.portfolio .txt-ctn-2 .txt-row {
    height: 450px;
    margin: 0;
  }

  body #intro #video #texto p,
  section.portfolio h2,
  section.portfolio .dup-ctn span {
    line-height: 2.6rem;
    font-size: 2rem;
    text-align: center;
  }

  section.portfolio .dup-ctn span {
    letter-spacing: -5px;
    line-height: 2.2rem;
    color: #d1d821;
  }

  section.portfolio .bg-rodaje,
  section.portfolio .sup-rodaje {
    height: 100vh;
    object-fit: cover;
  }

  section.portfolio .txt-ctn-1 .dup-ctn {
    left: -5px;
  }

  section.portfolio .txt-ctn-2 .dup-ctn {
    left: 1px;
  }

  section.portfolio .txt-ctn-1 .dup-ctn,
  section.portfolio .txt-ctn-2 .dup-ctn {
    width: 64%;
    margin-top: 5px;
    text-align: center;
    display: block;
  }

  section.portfolio .txt-ctn-1 .dup-ctn #first-letter {
    margin-left: 15px;
  }

  section.portfolio .txt-ctn-1 .dup-ctn span.spacer,
  section.portfolio .txt-ctn-2 .dup-ctn span.spacer {
    width: 9px;
    font-size: 1.3rem;
  }

  section.portfolio div.txt-ctn-1 .dup-ctn span.spacer:nth-child(2) {
    display: none;
  }

  section.portfolio div.txt-ctn-2 .spaced-txt {
    position: absolute;
    width: 325px;
    left: -42px;
    display: block;
  }

  section.portfolio .pf-accordion-outer {
    flex-direction: column;
    justify-content: center;
  }

  section.portfolio ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 0;
    margin-top: -40%;
  }

  section.portfolio ol li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  section.portfolio ol li h2 {
    font-size: 1.8rem;
    z-index: -1;
  }

  section.portfolio ol li:nth-child(1) h2 {
    margin-bottom: 5px;
  }

  section.portfolio ol li .desc-ctn p,
  section.portfolio ol li .desc-ctn bold {
    font-size: 15px;
  }

  section.portfolio ol #delsud {
    margin: auto -40px;
  }

  section.portfolio ol li hr.ctn-line {
    width: 100%;
  }

  section.portfolio .desc-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  section.portfolio .desc-ctn hr.desc-line {
    display: none;
  }

  section.portfolio div.video-ctn {
    position: absolute;
  }

  section.portfolio .box-ctn {
    width: 7.5rem;
    height: 4rem;
    bottom: 15%;
    background-color: transparent;
    transform: translate(-4.5535px, 32.3861px) rotate(7.0003deg) skew(10.5002deg, 0deg) scale(1.0075, 0.9851) !important;
  }

  section.portfolio .vid-overlay {
    background-color: transparent;
  }

  section.portfolio .logo-box {
    width: 50px;
    height: 50px;
  }

  .modal .close {
    position: absolute;
    z-index: 50000;
    bottom: 18% !important;
    right: 11.5%;
    top: unset;
    width: 60px;
    filter: invert(1);
    cursor: url(assets/cursor-mano.svg), pointer;
  }

  #modalVideo {
    transform: rotate(90deg);
    width: 160vw;
  }

  /* ============= servicios ============ */

  /* #middle {
    background-color: #1d3e4e9e;
  } */

  #middle #text-container {
    clip-path: inset(120px 0 90px 0);
    overflow: hidden;
  }

  #middle #text-container #letter-ctn {
    display: block;
    width: 250px;
  }

  #middle #text-container p {
    font-size: 2rem;
  }

  #middle #text-container #letter-ctn span {
    font-size: 2rem;
    color: #d1d821;
  }

  #middle #text-container p:nth-child(1) {
    padding: 0 20px;
  }

  #middle #text-container #letter-ctn .spacer {
    font-size: 0.9rem;
  }

  /* accordion */

  #middle .acc-borders {
    height: 650px;
  }

  #middle section.accordion {
    clip-path: inset(103px 0 104px 0);
    overflow: hidden;
  }

  #middle .accordion .expand {
    display: block;
    background: none;
    border: none;
    align-self: flex-start;
    margin-top: 25px;
    z-index: 100;
  }

  #middle .accordion .expand img {
    width: 2rem;
  }

  #middle #parent {
    height: 650px;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
  }

  #middle #parent::-webkit-scrollbar {
    display: none;
  }

  #middle #parent .child {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 250px 10% 50px 15%;
    overflow: visible;
    border: 0;
  }

  #middle #parent .child .title-ctn h1 {
    transition: color 0.5s ease;
  }

  #middle #parent .child .text-ctn {
    margin: 0;
    width: 100%;
    height: 100%;
    margin-left: 15%;
  }

  #middle #parent .child .text-ctn ol {
    position: absolute;
    display: block;
    clip-path: inset(100% 0 100% 0);
    top: 9rem;
    transition: all ease-in-out 300ms;
  }

  #middle #parent .child:nth-of-type(2) .text-ctn ol:nth-of-type(2) {
    top: 15rem;
  }

  #middle #parent .child .text-ctn ol.reveal {
    clip-path: inset(0 0 0 0);
    transition: all ease-in-out 500ms;
    top: 9rem;
  }

  #middle #parent .child:nth-of-type(2) .text-ctn ol.reveal:nth-of-type(2) {
    top: 21.7rem;
  }

  #middle #video-tiempo {
    justify-content: center;
    align-items: center;
  }

  #middle #video-tiempo #countdown-timer {
    left: 28%;
    bottom: -45px;
    font-size: 1.2rem;
  }

  #middle #video-tiempo #elementos-desk {
    display: none;
  }

  #middle #video-tiempo #elementos-mob {
    display: block;
    opacity: 1;
    width: 95vw;
    height: 95vh;
    padding: 0rem;
    z-index: 100;
  }

  #middle #video-tiempo #text-container-2 .text {
    font-size: 1.6rem;
  }

  #middle #video-tiempo #text-container-2 #letter-ctn span {
    color: #d1d821;
    font-size: 1.6rem;
  }

  #middle #video-tiempo #text-container-2 #letter-ctn span.spacer {
    font-size: 1rem;
  }

  /* carousel*/
  #text-container-2 {
    max-width: 360px !important;
  }

  p#p1,
  p#p2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  #p2 {
    margin-bottom: 3rem;
  }

  #carousel-container {
    display: none !important;
  }

  #mobileBrandsCtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 360px;
    gap: 1rem;
  }

  #mobileBrandsCtn img.mobileBrands {
    height: 52px;
    margin: 0.2rem;
  }

  /* end section */

  #textAllCtn {
    margin: 0 1rem !important;
    letter-spacing: 1px;
    font-weight: 400;
    right: -4%;
  }

  #p1_postC,
  div#textAllCtn .letter-container .charSpan {
    font-size: 60px;
  }

  #firstSpacer {
    display: none;
    font-size: 0;
  }

  #textAllCtn p.letter-container {
    display: block;
    width: 350px;
  }

  #textAllCtn p.letter-container .charSpan {
    color: #d1d821;
  }

  #textAllCtn>p.letter-container .spacerSpan {
    font-size: 1rem;
  }

  .subTextContainer {
    justify-content: flex-start;
    top: 25%;
  }

  .socialContainer {
    gap: 0.5rem;
    align-items: center;
  }

  .svgSocial {
    width: 50px !important;
    height: 50px !important;
  }

  a.svgInner {
    width: 50px !important;
    height: 50px;
  }

  #textEndCtn {
    max-width: 360px;
    display: block;
    padding: 0 2.5rem;
    margin-top: 2rem;
  }

  .charSpan2 {
    font-size: 20px !important;
  }

  #middle #subir {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 1000000000;
  }

  #middle #subir button {
    width: 20vw;
    height: 20vh;
    background-color: transparent;
    border: none;
  }

  #middle #subir button svg {
    width: 20vw;
    height: 20vh;
  }

  #middle #subir button svg .swipe {
    animation: scroll2 1s infinite;
  }
}

/* * Tablet portrait md */

@media only screen and (min-width: 501px) and (max-width: 1024px) and (min-height: 1000px) {

  #intro #init {
    background-size: 100px;
    background-repeat: space;
  }

  #intro #scrollea {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #intro #scrollea svg {
    width: 30vw;
    margin: 0;
  }

  #intro #scrollea img {
    width: 25vw;
    display: block;
  }

  #progressbar-ctn {
    width: 100%;
    left: 0;
    height: 140px;
  }

  #progressbar-ctn svg {
    width: 45%;
  }

  /* ============= nav ============ */

  nav {
    position: fixed;
    top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 125px;
    z-index: 10;
  }

  nav .menu-btn-ctn button {
    margin: 0;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 25px;
    margin-top: 50px;
  }

  nav .menu-btn-ctn button img {
    width: 100%;
    height: 100%;
  }

  nav .social-ctn {
    display: none;
  }

  nav section#menu {
    padding: 0;
  }

  nav section#menu .social-ctn-2 {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin: 2rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  nav section#menu .social-ctn-2 a:hover {
    color: transparent;
  }

  nav section#menu .social-ctn-2 a img {
    width: 3.5rem;
  }

  nav section#menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 10%;
    margin: 17rem 0;
  }

  nav section#menu ul li a {
    display: block;
    font-size: 3.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgb(29, 62, 78);
  }

  nav section#menu ul hr {
    width: 30%;
  }

  nav section#menu ul li#logo-menu {
    position: fixed;
    top: 60px;
    left: 20px;
    margin: 1rem 1.5rem;
  }

  nav section#menu ul li#logo-menu svg {
    width: 3.5rem;
    height: 3.5rem;
  }

  /* ============= intro ============ */

  body #intro #video #video-camara img {
    object-fit: cover;
    transform: rotate(-90deg);
    width: 100vh;
    height: 100%;
  }

  body #intro #video #video-camara {
    background-image: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  body #intro #video #texto {
    gap: 0rem;
  }

  body #intro #video #texto p:nth-child(1) {
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }

  body #intro #video #texto p:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  body #intro #video #texto .spanIntroCtn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }

  body #intro #video #texto .spanIntroCtn p {
    font-size: 4rem;
    margin-right: 5px;
    display: inline-block;
  }

  body #intro #video #texto .spanIntroCtn .spanCtn {
    display: flex;
    justify-content: center;
  }

  body #intro #video #texto .spanIntroCtn span {
    font-size: 4rem;
    color: #d1d821;
  }

  /* ============= portfolio ============ */

  section.portfolio {
    background-color: #010206;
  }

  section.portfolio .txt-row {
    justify-content: center;
    height: 80%;
    width: 100%;
  }

  section.portfolio .txt-ctn-2 .txt-row {
    height: 80%;
    margin: 0;
  }

  body #intro #video #texto p,
  section.portfolio h2,
  section.portfolio .dup-ctn span {
    line-height: 4.5rem;
    font-size: 4rem;
    text-align: center;
  }

  section.portfolio .dup-ctn span {
    letter-spacing: -5px;
    line-height: 3.2rem;
    color: #d1d821;
  }

  section.portfolio .bg-rodaje,
  section.portfolio .sup-rodaje {
    height: 100vh;
    object-fit: cover;
  }

  section.portfolio .txt-ctn-1 .dup-ctn {
    left: -5px;
  }

  section.portfolio .txt-ctn-2 .dup-ctn {
    left: 1px;
  }

  section.portfolio .txt-ctn-1 .dup-ctn,
  section.portfolio .txt-ctn-2 .dup-ctn {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    display: block;
  }

  section.portfolio .txt-ctn-1 .dup-ctn #first-letter {
    margin-left: 15px;
  }

  section.portfolio .txt-ctn-1 .dup-ctn span.spacer,
  section.portfolio .txt-ctn-2 .dup-ctn span.spacer {
    width: 9px;
    font-size: 1.3rem;
  }

  section.portfolio div.txt-ctn-1 .dup-ctn span.spacer:nth-child(2) {
    display: none;
  }

  section.portfolio div.txt-ctn-2 .spaced-txt {
    position: absolute;
    width: 100%;
    display: block;
  }

  section.portfolio .pf-accordion-outer {
    flex-direction: column;
    justify-content: center;
  }

  section.portfolio ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 0;
    margin-top: -40%;
  }

  section.portfolio ol li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 70px;
  }

  section.portfolio ol li h2 {
    font-size: 3rem;
    z-index: -1;
  }

  section.portfolio ol li:nth-child(1) h2 {
    margin-bottom: 5px;
  }

  section.portfolio ol li .desc-ctn bold {
    margin-top: 10px;
  }

  section.portfolio ol li .desc-ctn p,
  section.portfolio ol li .desc-ctn bold {
    font-size: 20px;
  }

  section.portfolio ol #delsud {
    margin: auto -40px;
  }

  section.portfolio ol #delsud h2 {
    margin-bottom: 45px;
  }

  section.portfolio ol li hr.ctn-line {
    width: 100%;
  }

  section.portfolio .desc-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  section.portfolio .desc-ctn hr.desc-line {
    display: none;
  }

  section.portfolio div.video-ctn {
    position: absolute;
  }

  section.portfolio .box-ctn {
    width: calc(20vw + 5%);
    height: 7%;
    bottom: 15%;
    background-color: transparent;
    transform: translate(-3%, 30%) rotate(7.0003deg) skew(10.5002deg, 0deg) scale(1.15, 1.4);
  }

  section.portfolio .vid-overlay {
    background-color: transparent;
  }

  section.portfolio .logo-box {
    width: 50px;
    height: 50px;
  }

  .modal .close {
    position: absolute;
    z-index: 50000;
    bottom: 18% !important;
    right: 11.5%;
    top: unset;
    width: 60px;
    filter: invert(1);
    cursor: url(assets/cursor-mano.svg), pointer;
  }

  #modalVideo {
    transform: rotate(90deg);
    width: 160vw;
  }

  /* ============= servicios ============ */

  /* #middle {
    background-color: #1d3e4e9e;
  } */

  #middle #text-container {
    clip-path: inset(120px 0 90px 0);
    overflow: hidden;
  }

  #middle #text-container #letter-ctn {
    display: block;
    width: 100%;
  }

  #middle #text-container p {
    font-size: 3rem;
  }

  #middle #text-container #letter-ctn span {
    font-size: 3rem;
    color: #d1d821;
  }

  #middle #text-container p:nth-child(1) {
    padding: 0 20px;
  }

  #middle #text-container #letter-ctn .spacer {
    font-size: 0.9rem;
  }

  /* accordion */

  #middle .acc-borders {
    height: 72%;
  }

  #middle section.accordion {
    clip-path: inset(14% 0 14% 0);
    overflow: hidden;
  }

  #middle .accordion .expand {
    display: block;
    background: none;
    border: none;
    align-self: flex-start;
    margin-top: 25px;
    z-index: 100;
  }

  #middle .accordion .expand img {
    width: 4rem;
  }

  #middle #parent {
    height: 100%;
    padding-bottom: 50%;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
  }

  #middle #parent::-webkit-scrollbar {
    display: none;
  }

  #middle #parent .child {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 25%;
    overflow: visible;
    border: 0;
  }

  #middle #parent .child .title-ctn h1 {
    transition: color 0.5s ease;
    font-size: 9rem;
  }

  #middle #parent .child .title-ctn h2 {
    font-size: 2.5rem;
  }

  #middle #parent .child .text-ctn {
    margin: 0;
    width: 100%;
    height: 100%;
    margin-left: 26%;
  }

  #middle #parent .child .text-ctn ol {
    position: absolute;
    display: block;
    clip-path: inset(100% 0 100% 0);
    top: 9rem;
    transition: all ease-in-out 300ms;
  }

  #middle #parent .child .text-ctn ol li {
    width: 400px;
    font-size: 1.1rem;
  }

  #middle #parent .child:nth-of-type(2) .text-ctn ol:nth-of-type(2) {
    top: 15rem;
  }

  #middle #parent .child .text-ctn ol.reveal {
    clip-path: inset(0 0 0 0);
    transition: all ease-in-out 500ms;
    top: 14rem;
  }

  #middle #parent .child:nth-of-type(2) .text-ctn ol.reveal:nth-of-type(2) {
    top: 26.7rem;
  }

  #middle #video-tiempo {
    justify-content: center;
    align-items: center;
  }

  #middle #video-tiempo #countdown-timer {
    left: 28%;
    bottom: -45px;
    font-size: 1.2rem;
  }

  #middle #video-tiempo #elementos-desk {
    display: none;
  }

  #middle #video-tiempo #elementos-mob {
    display: block;
    opacity: 1;
    width: 95vw;
    height: 95vh;
    padding: 0rem;
    z-index: 100;
  }

  #middle #video-tiempo #text-container-2 .text {
    font-size: 2.5rem;
  }

  #middle #video-tiempo #text-container-2 #letter-ctn span {
    color: #d1d821;
    font-size: 2.5rem;
  }

  #middle #video-tiempo #text-container-2 #letter-ctn span.spacer {
    font-size: 1rem;
  }

  /* carousel*/
  #text-container-2 {
    max-width: 100% !important;
  }

  p#p1,
  p#p2 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 400;
  }

  #p2 {
    margin-bottom: 3rem;
  }

  #carousel-container {
    display: none !important;
  }

  #mobileBrandsCtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 50%;
    gap: 1rem;
  }

  #mobileBrandsCtn img.mobileBrands {
    width: 25%;
    margin: 0.2rem;
  }

  /* end section */

  #textAllCtn {
    margin: 0 2rem !important;
    letter-spacing: 1px;
    font-weight: 400;
    right: -4%;
  }

  #p1_postC,
  div#textAllCtn .letter-container .charSpan {
    font-size: 60px;
  }

  #firstSpacer {
    display: none;
    font-size: 0;
  }

  #textAllCtn p.letter-container {
    display: block;
    width: 100%;
  }

  #textAllCtn p.letter-container .charSpan {
    color: #d1d821;
  }

  #textAllCtn>p.letter-container .spacerSpan {
    font-size: 1rem;
  }

  .subTextContainer {
    justify-content: flex-start;
    top: 25%;
  }

  .socialContainer {
    gap: 1rem;
    align-items: center;
  }

  .svgSocial {
    width: 4rem !important;
    height: 4rem !important;
  }

  a.svgInner {
    width: 100% !important;
    height: 100% !important;
  }

  #textEndCtn {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5rem;
    margin-top: 2rem;
    justify-content: center;
  }

  .charSpan2 {
    font-size: 1.5rem !important;
  }

  #middle #subir {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 1000000000;
  }

  #middle #subir button {
    width: 20vw;
    height: 20vh;
    background-color: transparent;
    border: none;
  }

  #middle #subir button svg {
    width: 20vw;
    height: 20vh;
  }

  #middle #subir button svg .swipe {
    animation: scroll2 1s infinite;
  }
}

/* * Tablet portrait lg */

@media only screen and (min-width: 501px) and (max-width: 1024px) and (min-height: 1200px) {

  #delsud h2 {
    margin-bottom: 40px;
  }

  section.portfolio .box-ctn {
    width: calc(20vw + 5%);
    height: 7%;
    bottom: 15%;
    background-color: transparent;
    transform: translate(-3%, 12%) rotate(7.0003deg) skew(10.5002deg, 0deg) scale(1.15, 1.4);
  }

  #mobileBrandsCtn img.mobileBrands {
    width: 29%;
    margin: 0.2rem;
  }
}

/* * Tablet landscape */

@media only screen and (min-width: 1025px) and (max-width: 1366px) and (min-height: 1024px) {
  nav section#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background: rgb(203, 219, 67);
    opacity: 0;
  }

  nav section#menu ul li {
    margin: 1.5rem 5rem;
  }

  nav section#menu ul hr {
    margin: -1rem 5rem;
  }

  nav section#menu ul li a {
    font-size: 3.5rem;
  }

  .modal .close {
    position: absolute;
    z-index: 50000;
    top: 11%;
    right: 11.5%;
    width: 60px;
    cursor: pointer;
    filter: invert(1);
    cursor: url("assets/cursor-mano.svg"), pointer;
  }

  #middle #video-tiempo #elementos-desk {
    width: 100%;
    height: 95%;
    top: 5%;
  }
}


/* * Laptop */

@media only screen and (min-width: 1025px) and (max-width: 1366px) and (min-height: 700px) {
  nav section#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background: rgb(203, 219, 67);
    opacity: 0;
  }

  nav section#menu ul li a {
    font-size: 3.5rem;
  }

  .modal .close {
    position: absolute;
    z-index: 50000;
    top: 22%;
    right: 11.5%;
    width: 60px;
    cursor: pointer;
    filter: invert(1);
    cursor: url("assets/cursor-mano.svg"), pointer;
  }

  #middle #video-tiempo #elementos-desk {
    width: 100%;
    height: 95%;
    top: 5%;
  }
}

/*# sourceMappingURL=flip.css.map */