<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="flip.css" />
  </head>
  <body>
    <div class="txt-container" id="text-container">
      <p id="p1">Y DESDE AHÍ NACEN</p>
      <p id="p2">NUESTROS VÍNCULOS</p>
      <div class="carousel-container" id="carousel-container">
        <div class="carousel">
          <figure id="carouselFig">
            <div class="card-ctn">
              <img src="../../assets/logo-flexy.png" alt="" />
              <video autoplay muted loop>
                <source
                  src="../../assets/pexels-bg-compress.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <div class="card-ctn">
              <img src="../../assets/logo-delsud.png" alt="" />
              <video autoplay muted loop>
                <source
                  src="../../assets/pexels-bg-compress.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <div class="card-ctn">
              <img src="../../assets/logo-estudio-yacoub.png" alt="" />
              <video autoplay muted loop>
                <source
                  src="../../assets/pexels-bg-compress.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <div class="card-ctn">
              <img src="../../assets/logo-jr-nba.png" alt="" />
              <video autoplay muted loop>
                <source
                  src="../../assets/pexels-bg-compress.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <div class="card-ctn">
              <img src="../../assets/logo-eugenie.png" alt="" />
              <video autoplay muted loop>
                <source
                  src="../../assets/pexels-bg-compress.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <div class="card-ctn">
              <img src="../../assets/logo-juegos-bonaerenses.png" alt="" />
              <video autoplay muted loop>
                <source
                  src="../../assets/pexels-bg-compress.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <div class="card-ctn">
              <img src="../../assets/logo-la-caja.png" alt="" />
              <video autoplay muted loop>
                <source
                  src="../../assets/pexels-bg-compress.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <script src="flip.js" type="module"></script>
  </body>
</html>
